body{
    font-family: 'Oooh Baby', cursive;
    background: #ffaae0 ;
}

.header_div
{
    background: #b6fff8;
    color: rgb(0, 30, 94);
}

.header_div p{

    font-family: 'Josefin Sans', sans-serif;
    color: rgb(135, 78, 5);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Shizuru', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: rgb(254, 255, 169);
    bottom: 0;
    width: 100% ;
    font-size: 18px ;
    background-color:coral;
    line-height: 3;
    text-align:center ;
    text-shadow: 5px 5px 5px rgb(149, 255, 170);

}


